footer {
  position: fixed;
  width: 100%;
  bottom: 10px;
  left: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 100px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.keyboard-column {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  border-radius: 10px;
  background-color: #d3d6da;
  width: 30px;
  height: 40px;
}
.keyboard-column__big {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  border-radius: 10px;
  background-color: #d3d6da;
  width: 60px;
  height: 40px;
}
